.modal {
    -webkit-animation: modal-animation 0.2s ease-in-out forwards;
    -o-animation: modal-animation 0.2s ease-in-out forwards;
    animation: modal-animation 0.2s ease-in-out forwards;
}

@keyframes modal-animation {
    from {
        opacity: 0;
        margin-top: 3em;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}