.popup {
    -webkit-animation: popup-animation 0.2s ease-in-out forwards;
    -o-animation: popup-animation 0.2s ease-in-out forwards;
    animation: popup-animation 0.2s ease-in-out forwards;
}

@keyframes popup-animation {
    from {
        opacity: 0;
        margin-top: 3em;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}